$black: #000;
$green-neon: #9bffa9;
$white: #fff;

:root {
  --black:#{$black};
  --black-opaque:#{$black}000f7;
  --black-transparent:#{$black}0;
  --white:#{$white};
  --white-opaque:#{$white}7;
  --green-neon: #{$green-neon}
}