$black: #000;
$vanta: #111;
$grey: #555;
$bone: #808080;
$green-neon: #9bffa9;
$red-deep: #af1b00;
$red-neon: #ff7373;
$white: #fff;

$secondary: #d984ac;

:root {
  --black:#{$black};
  --vanta:#{$vanta};
  --vanta-opaque:#{$vanta}111f7;
  --black-opaque:#{$black}000f7;
  --black-transparent:#{$black}0;
  --white:#{$white};
  --grey:#{$grey};
  --bone:#{$bone};
  --white-opaque:#{$white}4;
  --white-transparent:#{$white}fff06;
  --secondary: #{$green-neon};
  --red-neon: #{$red-neon};
  --red-deep: #{$red-deep};

  --secondary: #{$secondary};
}