$black: #000;
$vanta: #111;
$grey: #555;
$green-neon: #9bffa9;
$red-neon: #ff7373;
$white: #fff;

:root {
  --black:#{$black};
  --vanta:#{$vanta};
  --vanta-opaque:#{$vanta}111f7;
  --black-opaque:#{$black}000f7;
  --black-transparent:#{$black}0;
  --white:#{$white};
  --grey:#{$grey};
  --white-opaque:#{$white}4;
  --white-transparent:#{$white}fff06;
  --green-neon: #{$green-neon};
  --red-neon: #{$red-neon};
}