@import './reset';
@import './colors';
@import './fonts';

/* stylelint-disable-next-line selector-max-id */
html, body, #root {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

html {
  background-color: var(--black);
  font-size: 62.5%;
}

* {
  color: var(--white);
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.bold, .italic, .regular {
  color: inherit;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.angry {
  animation: horizontal-shaking 0.1s infinite;
  color: var(--green-neon);
  display: inline-block;
}

@keyframes horizontal-shaking {
  0% { transform: translateY(0) }
  25% { transform: translateY(.1rem) }
  50% { transform: translateY(-.1rem) }
  75% { transform: translateY(.1rem) }
  100% { transform: translateY(0) }
}
