.gui {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;

  &__timebar-block {
    border-top: .2rem solid var(--black-opaque);
    bottom: -5rem;
    display: flex;
    height: 4rem;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: bottom .4s ease .1s, opacity .4s ease;
    width: 100%;

    &--visible {
      bottom: 0;
      opacity: 1;
      pointer-events: all;
      transition: bottom .4s ease, opacity .4s ease;
    }
  }

  &__timebar {
    background: var(--black-opaquer);
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    &__bg,
    &__fg {
      display: flex;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      &__morning,
      &__day,
      &__evening {
        height: 100%;
        width: calc(100% / 3);
      }
    }

    &__bg {
      &__morning,
      &__day,
      &__evening {
        position: relative;
      }

      &__day,
      &__evening {
        border-left: .3rem solid var(--black-opaque);
      }
    }

    &__fg {
      &__morning,
      &__day,
      &__evening {
        overflow: hidden;
        position: relative;

        &::after {
          content: '';
          height: 100%;
          position: absolute;
          top: 0;
          transition: left .6s ease;
          width: 100%;
        }
      }

      &__morning::after {
        background: blue;
      }

      &__day::after {
        background: yellow;
      }

      &__evening::after {
        background: red;
      }
    }
  }

  &__timeInfo {
    background: var(--black-opaque);
    display: flex;
    flex-shrink: 0;
    position: relative;
    width: 20%;

    &__name {
      border-right: .1rem solid var(--grey);
    }

    &__name,
    &__day {
      align-items: center;
      display: flex;
      font-size: 1.4rem;
      font-weight: 700;
      justify-content: center;
      letter-spacing: .8rem;
      width: 50%;
    }

  }

  &--morning {
    .gui__timebar {
      &__fg {
        &__morning::after {
          left: 0;
        }

        &__day::after {
          left: -100%;
        }

        &__evening::after {
          left: -200%;
        }
      }
    }
  }

  &--day {
    .gui__timebar {
      &__fg {
        &__morning::after {
          left: 100%;
        }

        &__day::after {
          left: 0%;
        }

        &__evening::after {
          left: -100%;
        }
      }
    }
  }

  &--evening {
    .gui__timebar {
      &__fg {
        &__morning::after {
          left: 200%;
        }

        &__day::after {
          left: 200%;
        }

        &__evening::after {
          left: 0;
        }
      }
    }
  }
}