.gui {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;

  &__title-hybridation {
    left: 50%;
    position: absolute;
    text-align: center;
    top: -1.1rem;
    transform: translateX(-50%) translateY(-100%);
    transition: transform .5s ease;
    width: 60rem;

    &--visible {
      pointer-events: all;
      transform: translateY(0) translateX(-50%);
      transition: transform .5s ease .3s;
    }

    &__block {
      background: var(--black-opaque);
      margin-bottom: 2rem;
      padding: 3rem 2rem;
      position: relative;

      &::after {
        border: .1rem solid var(--white-opaque);
        content: '';
        height: calc(100% - 2rem);
        left: 1rem;
        pointer-events: none;
        position: absolute;
        top: 1rem;
        width: calc(100% - 2rem);
      }
    }

    &__content {
      font-family: var(--main-title-font);
      text-align: center;
      text-transform: uppercase;
    }

    &__text {
      line-height: 2.6rem;
      padding: 0 1rem;
      text-align: justify;
    }
  }

  &__ressource-block {
    align-items: flex-start;
    bottom: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: 0;
    position: absolute;
    transform: translateX(-100%);
    transition: left .4s ease, transform .4s ease;

    &--visible {
      left: 1rem;
      pointer-events: all;
      transform: translateX(0);
    }

    &--hybridDone {
      .button {
        animation: pulse 2s infinite;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
        transform: scale(1);
      }
    }

    .button {
      width: 24rem;
    }
  }

  &__timebar-block {
    border-top: .2rem solid var(--vanta-opaque);
    bottom: -5.5rem;
    display: flex;
    height: 5rem;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: bottom .4s ease .1s, opacity .4s ease;
    width: 100%;

    &--visible {
      bottom: 0;
      opacity: 1;
      pointer-events: all;
      transition: bottom .4s ease, opacity .4s ease;
    }
  }

  &__timebar {
    background: linear-gradient(0deg, rgba(10,10,10,.9) 0%, rgba(10,10,10,1) 100%);
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;

    &__bg,
    &__fg {
      display: flex;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;

      &__morning,
      &__day,
      &__evening,
      &__night {
        height: 100%;
        // transform: skew(15deg);
        width: calc(100% / 4);
      }
    }

    &__bg {
      &__morning,
      &__day,
      &__evening,
      &__night {
        position: relative;
      }

      &__morning {
        background-image: url('../../assets/imgs/day-morning-mini.jpg');
        background-position: center;
        background-size: cover;
        opacity: .1;
      }

      &__day {
        background-image: url('../../assets/imgs/day-day-mini.jpg');
        background-position: center;
        background-size: cover;
        opacity: .1;
      }

      &__evening {
        background-image: url('../../assets/imgs/day-evening-mini.jpg');
        background-position: center;
        background-size: cover;
        opacity: .1;
      }

      &__night {
        background-image: url('../../assets/imgs/day-night-mini.jpg');
        background-position: center;
        background-size: cover;
        opacity: .1;
      }

      &__day,
      &__evening,
      &__night {
        border-left: .1rem solid var(--black);

        &::after {
          background: var(--black);
          border-radius: 100%;
          content: '';
          height: .5rem;
          left: -.35rem;
          position: absolute;
          top: calc(50% - .25rem);
          transition: left .6s ease;
          width: .5rem;
        }
      }
    }

    &__fg {
      z-index: 1;

      &__morning,
      &__day,
      &__evening,
      &__night  {
        overflow: hidden;
        position: relative;

        &::after {
          content: '';
          height: 100%;
          position: absolute;
          top: 0;
          transition: left .6s ease;
          width: 100%;
        }
      }

      &__morning::after {
        
        background-image: url('../../assets/imgs/day-morning-mini.jpg');
        background-position: center;
        background-size: cover;
      }

      &__day::after {
        background-image: url('../../assets/imgs/day-day-mini.jpg');
        background-position: center;
        background-size: cover;
      }

      &__evening::after {
        background-image: url('../../assets/imgs/day-evening-mini.jpg');
        background-position: center;
        background-size: cover;
      }

      &__night::after {
        background-image: url('../../assets/imgs/day-night-mini.jpg');
        background-position: center;
        background-size: cover;
      }
    }
  }

  &__timeInfo {
    background: var(--vanta-opaque);
    display: flex;
    flex-shrink: 0;
    position: relative;
    width: 20%;

    &__name {
      position: relative;

      &::after {
        border-right: 0.1rem solid var(--grey);
        content: "";
        height: calc(100% - 1rem);
        left: 0;
        position: absolute;
        top: 0.5rem;
        width: 100%;
      }
    }

    &__name,
    &__day {
      align-items: center;
      display: flex;
      font-size: 1.6rem;
      justify-content: center;
      letter-spacing: 0.8rem;
      text-transform: uppercase;
      width: 50%;
    }

  }

  .gui__next-period {
    bottom: 6rem;
    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: left .4s ease, transform .4s ease;
    width: 30rem;

    &--visible {
      pointer-events: all;
      right: 1rem;
      transform: translateX(0);

      &.button--disabled {
        pointer-events: none;
      }
    }
  }

  &--morning {
    .gui__timebar {
      &__fg {
        &__morning::after {
          left: 0;
        }

        &__day::after {
          left: -100%;
        }

        &__evening::after {
          left: -200%;
        }

        &__night::after {
          left: -300%;
        }
      }
    }
  }

  &--day {
    .gui__timebar {
      &__fg {
        &__morning::after {
          left: 100%;
        }

        &__day::after {
          left: 0%;
        }

        &__evening::after {
          left: -100%;
        }

        &__night::after {
          left: -200%;
        }
      }
    }
  }

  &--evening {
    .gui__timebar {
      &__fg {
        &__morning::after {
          left: 200%;
        }

        &__day::after {
          left: 200%;
        }

        &__evening::after {
          left: 0;
        }

        &__night::after {
          left: -100%;
        }
      }
    }
  }

  &--night {
    .gui__timebar {
      &__fg {
        &__morning::after {
          left: 300%;
        }

        &__day::after {
          left: 200%;
        }

        &__evening::after {
          left: 100%;
        }

        &__night::after {
          left: 0%;
        }
      }
    }
  }
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 #d984acb3;
	}

	70% {
		box-shadow: 0 0 0 10px #d984ac00;
	}

	100% {
		box-shadow: 0 0 0 0 #d984ac00;
	}
}