.hybridationWindow {
  background-color: var(--black);
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 1s ease;
  width: 100%;
  z-index: 2;

  &--visible {
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s ease;
  }

  &__tree {
    background-image: url('../../assets/imgs/hybridation-bg.jpg');
    background-position: center;
    background-size: cover;
    height: 80rem;
    position: relative;
    top: 20vh;
    width: 250rem;

    &__fg {
      background-image: url('../../assets/imgs/hybridation-fg.png');
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
    }

    .hybridationNode {
      &--id-valerian {
        left: calc(50% - 5rem);
        top: calc(50% + 30rem);
        transform: translate3d(-50%, -50%, 0);
      }

      // DRYAD UPGRADES
      &--id-crocus {
        left: calc(50% + 62rem);
        top: calc(50% - 24rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-sage {
        left: calc(50% + 75rem);
        top: calc(50% - 15rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-callaLily {
        left: calc(50% + 84rem);
        top: calc(50% - 30rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-edelweiss {
        left: calc(50% + 96rem);
        top: calc(50% - 0rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-borage {
        left: calc(50% + 94rem);
        top: calc(50% - 15rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-coriander {
        left: calc(50% + 112rem);
        top: calc(50% - -10rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-butterflyWeed {
        left: calc(50% + 108rem);
        top: calc(50% - 31rem);
        transform: translate3d(-50%, -50%, 0);  
      }

      // TRIBE UPGRADES
      &--id-belladonna {
        left: calc(50% - 54.3rem);
        top: calc(50% - -14.9rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-bluebell {
        left: calc(50% - 68.7rem);
        top: calc(50% - -10.5rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-chives {
        left: calc(50% - 91rem);
        top: calc(50% - -7rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-holly {
        left: calc(50% - 107rem);
        top: calc(50% + 3rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-geranium {
        left: calc(50% - 60rem);
        top: calc(50% - 8rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-candytuft {
        left: calc(50% - 98rem);
        top: calc(50% - 10rem);
        transform: translate3d(-50%, -50%, 0);
      }

      &--id-hyssop {
        left: calc(50% - 102rem);
        top: calc(50% - 37rem);
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }

  &__info {
    bottom: 10rem;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    transition: transform .3s ease, right .3s ease;
    width: 34rem;

    &__mainBlock {
      background: var(--vanta);
      border: .1rem solid var(--white-opaque);
    } 

    &--visible {
      right: 2rem;
      transform: translateX(0);
    }

    &__title {
      // border-bottom: .1rem solid var(--white-opaque);
      font-family: var(--main-title-font);
      font-size: 4rem;
      letter-spacing: 0.4rem;
      padding: 2rem;
      padding-bottom: 1rem;
      text-transform: uppercase;
    }

    &__lore {
      font-size: 1.8rem;
      font-style: italic;
      padding: 2rem;
      padding-top: 0;
    }

    &__gains{
      // border-top: .1rem solid var(--white-opaque);
      display: flex;
      flex-direction: column;
      padding: 2rem;

      &__nectar,
      &__flower {
        display: inline-flex;
        font-size: 3rem;
        gap: 5rem;
        justify-content: space-between;
        padding: 1rem;
      }

      &__nectar {
        border-bottom: .1rem solid var(--white-opaque);
        padding-top: 0;
      }

      &__flower {
        padding-bottom: 0;
      }
    }

    &__cost {
      align-items: center;
      background: var(--vanta);
      border: .1rem solid var(--white-opaque);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 1rem;
      padding: 2rem 3rem;

      &__flower,
      &__time {
        align-items: center;
        display: flex;
        font-size: 3rem;
        gap: 1rem;
        justify-content: flex-end;
        width: 50%;
      }

      &__flower {
        border-right: .1rem solid var(--white-opaque);
        justify-content: flex-start;
      }

      &--expensive {
        p {
          color: var(--red-deep);
        }

        .icon {
          fill: var(--red-deep);
        }
      }
    }

    &__button {
      height: 5rem;
      margin-top: 1rem;
    }
  }
}