.titleWindow {
  background-color: var(--black);
  background-image: url('../../assets/imgs/backgroundtemp.jpg');
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 1s ease;
  width: 100%;

  &--visible {
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s ease 1.1s;
  }

  &__menu {
    background: var(--black-opaque);
    display: flex;
    flex-direction: column;
    gap: 10rem;
    height: 100%;
    justify-content: space-evenly;
    max-width: 80rem;
    padding: 10rem;
    position: relative;
    width: 50%;

    &::after {
      border: .1rem solid var(--white-opaque);
      content: '';
      height: calc(100% - 4rem);
      left: 2rem;
      pointer-events: none;
      position: absolute;
      top: 2rem;
      width: calc(100% - 4rem);
    }

    &__title {
      border-bottom: .1rem solid var(--white-opaque);
      margin: 0 auto;
      padding-bottom: 2rem;
      text-align: center;
      width: 30rem;

      &__main,
      &__sub {
        text-align: center;
      }
    }

    &__text {
      line-height: 3rem;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      .button {
        text-shadow: 0;
        transition: opacity .4s ease, color .2s ease, text-shadow .2s ease;
      }

      .button:hover {
        color: var(--white);
        text-shadow: 0 0 .2rem #fff, 0 0 .4rem #fff, 0 0 .6rem #df4a8f33, 0 0 .8rem #df4a8f33, 0 0 1rem #df4a8f33, 0 0 1.2rem #df4a8f33, 0 0 1.4rem #df4a8f33;
      }
    }

    &__footer {
      display: flex;
      flex-direction: row;
      gap: 4rem;
    }
  }
}