.tribeWindow {
  background-color: var(--black);
  background-image: url('../../assets/imgs/tribe-bg.jpg');
  background-size: cover;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 1s ease;
  width: 100%;

  &--visible {
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s ease 1.1s;
  }

  &__title {
    background: var(--black-opaque);
    left: 0;
    padding: 4rem;
    position: absolute;
    text-align: center;
    top: 0;
    transition: transform .5s ease;
    width: 50rem;
    z-index: 1;

    &::after {
      border: .1rem solid var(--white-opaque);
      content: '';
      height: calc(100% - 4rem);
      left: 2rem;
      pointer-events: none;
      position: absolute;
      top: 2rem;
      width: calc(100% - 4rem);
    }

    &__block {
      margin-bottom: 2rem;
      padding: 0 2rem;
      position: relative;
    }

    &__content {
      font-family: var(--main-title-font);
      text-transform: uppercase;
    }

    &__text {
      line-height: 2rem;
      line-height: 2.5rem;
      padding: 0 1rem;
      text-align: justify;
    }
  }

  &__tribes {
    display: flex;
    flex-direction: row;
    height: calc(100% - 5rem);
    justify-content: flex-end;
    width: 100%;
  }

  &__tribe {
    align-items: center;
    background-color: var(--black-transparent);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 15rem;
    position: relative;
    transition: background .4s ease;
    width: 25%;

    &:hover {
      background-color: var(--black-semi-opaque);

      &::after {
        border: .1rem solid var(--white-opaque);
      }

      &::before {
        opacity: 1;
      }
    }

    &::after {
      border: .1rem solid var(--white-transparent);
      content: '';
      height: calc(100% - 2rem);
      left: 1rem;
      pointer-events: none;
      position: absolute;
      top: 1rem;
      transition: border .2s ease;
      width: calc(100% - 2rem);
    }

    &::before {
      content: '';
      height: 80%;
      left: 0;
      opacity: .6;
      pointer-events: none;
      position: absolute;
      top: 10%;
      transition: opacity .2s ease;
      width: 100%;
    }

    &__name {
      font-family: var(--main-title-font);
      font-size: 2.5rem;
      letter-spacing: 0.4rem;
      text-align: center;
      text-transform: uppercase;
      top: 60%;
      z-index: 1;
    }

    &--trunk::before {
      background-image: url('../../assets/imgs/trunktribe.png');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--branches::before {
      background-image: url('../../assets/imgs/branchestribe.png');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--leaves::before {
      background-image: url('../../assets/imgs/leavestribe.png');
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .nectarGiveway {
      position: relative;
      width: 80%;
      z-index: 1;
    }
  }
}