.button {
  background: none;
  border: 0;
  border-bottom: 1px solid var(--white-opaque);
  border-top: 1px solid var(--white-opaque);
  cursor: pointer;
  padding: .5rem;
  transition: opacity .4s ease, color .2s ease;
  width: 100%;

  &:hover {
    color: var(--green-neon);
  }

  &--theme-title {
    font-family: var(--main-title-font);
    font-size: 2rem;
    letter-spacing: 1rem;
    padding: 1rem;
    text-transform: uppercase;
  }

  &--disabled {
    opacity: .3;
    pointer-events: none;
  }

  &--invisible {
    opacity: 0;
    pointer-events: none;
    transition: color .2s ease;
  }
}