.hybridationNode {
  cursor: pointer;
  position: absolute;

  &:hover {
    .hybridationNode{
      &__icon__backdrop {
        filter: blur(1rem);
      }
    }
  }

  &__icon {
    z-index: 1;
  }

  &__icon,
  &__icon__backdrop {
    filter: blur(0);
    height: 8rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: filter .1s ease, opacity .2s ease;
    width: 8rem;
  }

  &__flower {
    height: 15rem;
    opacity: 0;
    position: relative;
    top: -5rem;
    transition: opacity .2s ease;
    width: 15rem;
  }

  &__base {
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    

    &--tribe {
      left: 7.4rem;
      top: 19rem;
      width: 7rem;
    }

    &--dryad {
      left: 4rem;
      top: 13rem;
      width: 13rem;
    }
  }

  &--launched {
    .hybridationNode__flower {
      opacity: .3;
    }
  }

  &--completed {
    .hybridationNode__flower {
      opacity: 1;
    }
  }

  &--selected {
    .hybridationNode{
      &__icon__backdrop {
        filter: blur(.5rem);
      }
    }
  }

  &--notUnlocked {
    // pointer-events: none;

    .hybridationNode__icon {
      opacity: .3;

      &__backdrop {
        opacity: 0;
      }
    }
  }
}