.hybridationNode {
  cursor: pointer;
  position: absolute;

  &:hover {
    .hybridationNode{
      &__icon__backdrop {
        filter: blur(1rem);
      }
    }
  }

  &__icon {
    z-index: 1;
    z-index: 6;
  }

  &__icon,
  &__icon__backdrop {
    filter: blur(0);
    height: 8rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transition: filter .1s ease, opacity .2s ease;
    width: 8rem;
  }

  &__flower {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 15rem;
    opacity: 0;
    position: relative;
    top: -5rem;
    transition: opacity .2s ease;
    width: 15rem;
    z-index: 5;
  }

  &__base {
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
    

    &--tribe {
      left: 7.4rem;
      top: 19rem;
      width: 7rem;
    }

    &--dryad {
      left: 4rem;
      top: 13rem;
      width: 13rem;
    }
  }

  &--launched {
    .hybridationNode__flower {
      opacity: .3;
    }
  }

  &--completed {
    .hybridationNode__flower {
      opacity: 1;
    }
  }

  &--selected {
    .hybridationNode{
      &__icon__backdrop {
        filter: blur(.5rem);
      }
    }
  }

  &--notUnlocked {
    pointer-events: none;

    .hybridationNode__icon {
      opacity: .3;

      &__backdrop {
        opacity: 0;
      }
    }
  }

  &--id-valerian .hybridationNode__flower {
    background-image: url('../../assets/imgs/valerian.png');
  }

  &--id-belladonna .hybridationNode__flower {
    background-image: url('../../assets/imgs/belladonna.png');
  }

  &--id-butterflyWeed .hybridationNode__flower {
    background-image: url('../../assets/imgs/butterly.png');
  }

  &--id-borage .hybridationNode__flower {
    background-image: url('../../assets/imgs/borage.png');
  }

  &--id-callaLily .hybridationNode__flower {
    background-image: url('../../assets/imgs/callaLilly.png');
  }

  &--id-candytuft .hybridationNode__flower {
    background-image: url('../../assets/imgs/candytuft.png');
  }

  &--id-chives .hybridationNode__flower {
    background-image: url('../../assets/imgs/chives.png');
  }

  &--id-bluebell .hybridationNode__flower {
    background-image: url('../../assets/imgs/cluebells.png');
  }

  &--id-coriander .hybridationNode__flower {
    background-image: url('../../assets/imgs/coriander.png');
  }

  &--id-crocus .hybridationNode__flower {
    background-image: url('../../assets/imgs/crocus.png');
  }

  &--id-edelweiss .hybridationNode__flower {
    background-image: url('../../assets/imgs/edelweiss.png');
  }

  &--id-geranium .hybridationNode__flower {
    background-image: url('../../assets/imgs/geranium.png');
  }

  &--id-holly .hybridationNode__flower {
    background-image: url('../../assets/imgs/holly.png');
  }

  &--id-hyssop .hybridationNode__flower {
    background-image: url('../../assets/imgs/hyssop.png');
  }

  &--id-sage .hybridationNode__flower {
    background-image: url('../../assets/imgs/sage.png');
  }
}