.nectarGiveway {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__healthBar {
    display: flex;
    gap: 0.5rem;

    &__bar {
      background: var(--white);
      border-radius: .2rem;
      height: 1rem;
      position: relative;
      width: 3rem;

      &--infected {
        background: var(--yellow-infected);
      }

      &--nectar {
        background: var(--green-neon);
      }

      &--deaths {
        background: var(--vanta);
        border: .1rem solid var(--white-opaque);
      }
    }
  }

  &__bonus {
    position: relative;

    &__detail {
      text-align: center;
    }

    &__block {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &__number {
      font-size: 3rem;
      position: relative;
      top: -0.3rem;
    }
  }

  // &__button {
  //   display: flex;
  // }
}